################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.db
*.opendb
*.user
.vs/
v15/
ipch/
**/Release
**/Debug
*.log
/Log.log.*
*.aps
*.BAK
.gitignore.BAK
